<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
           http://code.alibabatech.com/schema/dubbo    http://code.alibabatech.com/schema/dubbo/dubbo.xsd
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       ">

	<bean id="dubboConfig"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="order" value="1" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="locations" value="classpath:context/dubbo.properties" />
	</bean>	
	
	<dubbo:application name="${aisse.dubbo.appname}" />
	<dubbo:registry protocol="${aisse.dubbo.registry.protocol}"
		address="${aisse.dubbo.registry.address}" file="${aisse.dubbo.registry.file}" />
	<dubbo:provider timeout="${aisse.dubbo.provider.timeout}"
		retries="2" threads="1000" />

	<dubbo:annotation package="com.ai.aisse.core.rest" />
</beans>