<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="userMapper">
  	<resultMap id="User" type="com.ai.aisse.core.po.DemoTable">
		<result column="id" property="id" />
		<result column="account" property="account" />
		<result column="dname" property="dname" />
		<result column="password" property="password" />
		<result column="token" property="token" />
	</resultMap>
  
            
 <insert id="insertdemo" parameterType="Map"  flushCache="true" >
     insert into sysuser(id,account,dname,password,token) 
     values (#{id},#{account},#{dname},#{password},#{token})
 </insert>
 
 <select id="selectDemoById" parameterType="int" resultMap="User">
    SELECT id,account,dname,password,token FROM sysuser WHERE id = #{id}
 </select>
          
</mapper>